let env = {
  devnet: {
    web3Url: 'http://127.0.0.1:8545',
    privateKey: '<PRIVATE_KEY>',
  },
  testnet: {
    web3Url: 'https://rinkeby.infura.io',
    privateKey: '<PRIVATE_KEY>',
  },
  mainnet: {
    web3Url: 'https://mainnet.infura.io',
    privateKey: '<PRIVATE_KEY>',
  }
};

module.exports = env;
